* {
	box-sizing: border-box;
}
body {
	background-color: #1f1f1f;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 400px;
}
.square{
	width: 16px;
	height: 16px;
	background-color: #161616;
	margin: 2px;
	box-shadow: 0 0 2px #000;
	transition: all 1.5s ease-in-out;
}
.square:hover{
	transition-duration: 0s;
}